/*!*******************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/blocks/startup/editor.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************/
.block-editor-block-contextual-toolbar,
.components-accessible-toolbar,
.components-accessible-toolbar.block-editor-block-contextual-toolbar {
  z-index: 999999;
}

.gbd-row-wrapper > .gbd-row-inner > .block-editor-inner-blocks {
  margin-left: auto !important;
  margin-right: auto !important;
}
.gbd-row-wrapper > .gbd-row-inner > .block-editor-inner-blocks > .block-editor-block-list__layout {
  display: flex;
  flex-wrap: nowrap;
  max-width: none !important;
  width: auto !important;
}

.gbd-panel-control {
  min-width: 220px;
  background-color: #f7f7f7;
}
.gbd-panel-control .components-button-group.gbd-unit-control-btn-group {
  height: 20px;
}
.gbd-panel-control .components-button-group.gbd-unit-control-btn-group .components-button {
  color: #5f5f5f;
  height: 20px !important;
  padding: 0 0 0 6px;
  text-transform: uppercase;
  z-index: 999999;
  font-size: 10px;
  position: relative;
  z-index: 1111;
}
.gbd-panel-control .components-button-group.gbd-unit-control-btn-group .components-button .gbd-category-icon {
  margin-left: 8px;
}
.gbd-panel-control .components-button-group.gbd-unit-control-btn-group .components-button.is-primary {
  box-shadow: none !important;
}
.gbd-panel-control .components-button-group .components-button:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.gbd-panel-control .components-button-group .components-button:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.gbd-panel-control .components-flex.components-select-control {
  gap: 0;
}
.gbd-panel-control button.components-panel__body-toggle:focus {
  box-shadow: inset 0 0 0 2px #551ef7;
}
.gbd-panel-control .gbd-unit-control-btn:hover {
  color: #551ef7;
}
.gbd-panel-control .is-checked .components-form-toggle__track {
  background-color: #551ef7 !important;
}
.gbd-panel-control input[type=checkbox]:focus {
  box-shadow: 0 0 0 1px #551ef7;
}
.gbd-panel-control .components-radio-control__input[type=radio]:checked {
  background-color: #551ef7;
}
.gbd-panel-control .components-base-control .components-form-toggle .components-form-toggle__track {
  box-shadow: none !important;
}
.gbd-panel-control .components-base-control .components-form-toggle:not(.is-checked) .components-form-toggle__track {
  border-color: #ebebeb !important;
}
.gbd-panel-control .components-base-control .components-form-toggle:not(.is-checked) .components-form-toggle__thumb {
  background-color: #a6a6bf;
  border-color: #a6a6bf;
}
.gbd-panel-control .components-base-control .drag-helper .gbd-accordion-sortable-item .drag-handle {
  border-right: none;
}
.gbd-panel-control .components-base-control__field .components-button-group {
  display: flex;
}
.gbd-panel-control .components-base-control__field .components-button-group .components-button {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 6px;
  padding-top: 6px;
}
.gbd-panel-control .components-base-control__field .components-text-control__input {
  padding: 10px;
}
.gbd-panel-control .is-secondary {
  background: transparent;
  box-shadow: inset 0 0 0 1px #ebebeb !important;
  color: #b4b4cb;
}
.gbd-panel-control .is-primary {
  background: #cebeff;
  box-shadow: inset 0 0 0 1px #b299ff !important;
  color: #551ef7;
}
.gbd-panel-control .responsiveRangeControllerWrapper .gbd-unit-control-btn-group {
  display: block;
}
.gbd-panel-control .responsiveRangeControllerWrapper .gbd-unit-control-btn-group .gbd-unit-control-btn {
  display: inline-block;
}
.gbd-panel-control .components-panel__body .dimention-container .dimention-label {
  color: #5f5f5f;
  height: 20px;
  margin-bottom: 0 !important;
}
.gbd-panel-control .components-panel__body .dimention-container .input-container .input-wrapper-group {
  display: flex;
  flex: 1;
}
.gbd-panel-control .components-panel__body .dimention-container .input-container .input-wrapper-group .input-wrapper {
  width: 25% !important;
}
.gbd-panel-control .components-panel__body .dimention-container .input-container .input-wrapper input {
  border-color: #ebebeb !important;
  color: #1e1e1e;
  height: 30px !important;
}
.gbd-panel-control .components-panel__body .dimention-container .input-container .input-wrapper input:focus {
  box-shadow: none;
  color: #000;
}
.gbd-panel-control .components-panel__body .dimention-container .input-container .input-wrapper input:disabled {
  background-color: #e6e9ec;
  color: #6d7882;
  cursor: not-allowed;
}
.gbd-panel-control .components-panel__body .dimention-container .input-container .input-wrapper:first-child input {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.gbd-panel-control .components-panel__body .dimention-container .input-container .input-wrapper:last-child input {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.gbd-panel-control .components-panel__body .dimention-container .input-container .components-button.linked-btn {
  align-items: center;
  display: flex;
  height: 30px !important;
  justify-content: flex-end;
  margin-left: 0;
  padding: 0 !important;
  width: 20px !important;
}
.gbd-panel-control .linked-btn.is-primary {
  font-size: 14px !important;
}
.gbd-panel-control .gbd-range-controller-container {
  align-items: flex-start;
  display: flex;
}
.gbd-panel-control .gbd-range-controller-container .components-range-control {
  flex: 1;
  margin-bottom: 8px;
}
.gbd-panel-control .gbd-range-controller-container .components-range-control .components-base-control__field {
  margin-bottom: 0 !important;
}
.gbd-panel-control .gbd-range-controller-container .gbd-range-reset-button {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 26px;
  margin-left: 2px;
  margin-top: 20px;
  outline: none;
  padding: 0;
  width: 20px;
}
.gbd-panel-control .gbd-range-controller-container .gbd-range-reset-button .dashicon {
  align-items: center;
  color: #62626f;
  display: flex;
  font-size: 14px;
  justify-content: center;
  transform: scaleX(-1) rotate(90deg);
  width: 20px;
}
.gbd-panel-control .components-range-control {
  margin-bottom: 8px;
}
.gbd-panel-control.gbd-typography-component-panel .gbd-range-controller-container .gbd-range-reset-button {
  padding-top: 8px;
}
.gbd-panel-control .gbd-reset-button-margin-fix .gbd-range-controller-container .gbd-range-reset-button {
  margin-top: 26px;
}
.gbd-panel-control .dashicons {
  font-family: dashicons;
}
.gbd-panel-control .components-range-control__reset {
  color: #6b6b6b;
}
.gbd-panel-control .components-range-control__wrapper {
  color: #e5e5ed;
  outline: none;
}
.gbd-panel-control .components-range-control__slider + span {
  background-color: #e5e5ed;
  border: none;
  box-shadow: none;
  outline: none;
}
.gbd-panel-control .components-range-control__root {
  z-index: 1000;
}
.gbd-panel-control .components-range-control__root .components-input-control {
  margin-left: 8px !important;
  width: 70px !important;
}
.gbd-panel-control .components-range-control__track {
  background-color: #b4b4cb;
  margin-left: -8px;
}
.gbd-panel-control .components-range-control__track + span {
  height: 12px;
  margin-top: 9px;
  width: 12px;
}
.gbd-panel-control .components-range-control__track + span > span {
  background-color: #b4b4cb;
  border: none;
  box-shadow: none;
  outline: none;
}
.gbd-panel-control .components-input-control__input {
  color: #1e1e1e !important;
  padding-right: 0 !important;
}
.gbd-panel-control .components-input-control__backdrop {
  border-color: #ebebeb !important;
}
.gbd-panel-control .components-button {
  text-transform: capitalize;
}
.gbd-panel-control .components-button.gbd-color-undo .dashicon {
  color: #62626f;
  font-size: 14px;
}
.gbd-panel-control .components-button:not(.gbd-unit-control-btn-group) {
  position: relative;
  z-index: 0;
}
.gbd-panel-control .gbd-gradient-control .gbd-gradient-toggle-label .components-base-control__field {
  align-items: center;
  display: flex;
}
.gbd-panel-control .gbd-gradient-control .gbd-switch-control {
  font-size: 11px !important;
  margin-bottom: 0 !important;
  margin-left: auto !important;
  width: 100px !important;
}
.gbd-panel-control .gbd-gradient-control .gbd-switch-control > label {
  padding: 1px;
}
.gbd-panel-control .gbd-color-ball {
  border-color: #ebebeb !important;
  border-radius: 20px !important;
  cursor: pointer;
  padding: 0 !important;
}
.gbd-panel-control .gbd-color-ball > div {
  border-radius: 20px !important;
  height: 25px !important;
  width: 25px !important;
}
.gbd-panel-control .wrap_res.for-icon-size .resIcons {
  left: 60px;
}
.gbd-panel-control .gbd-color-undo .dashicon {
  margin: 0;
}
.gbd-panel-control .newWithResWrapper .gbd-range-controller-container .gbd-range-reset-button {
  margin-top: 0;
}
.gbd-panel-control .gbd-parent-tab-panel .components-tab-panel__tabs {
  background-color: #fff;
}
.gbd-panel-control .gbd-parent-tab-panel .components-tab-panel__tabs .gbd-tabs {
  background-color: #fff;
  border-right: 1px solid #fff;
  border-top: 3px solid transparent;
  font-size: 1.1em;
}
.gbd-panel-control .gbd-parent-tab-panel .components-tab-panel__tabs .gbd-tabs.active-tab {
  background-color: #f7f7f7;
  border-color: #cebeff !important;
}
.gbd-panel-control .gbd-parent-tab-panel .components-tab-panel__tabs .gbd-tabs:not(:first-child) {
  border-left: 1px solid #fff;
}
.gbd-panel-control .gbd-parent-tab-panel .components-tab-panel__tabs .gbd-tabs:hover {
  color: #551ef7;
}
.gbd-panel-control .gbd-parent-tab-panel .components-tab-panel__tabs .gbd-tabs:focus {
  box-shadow: unset;
}
.gbd-panel-control .gbd-parent-tab-panel .components-panel__body.gbd-subpanel {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.gbd-panel-control .gbd-parent-tab-panel .components-panel__body-title {
  background-color: #e8e8e8;
}
.gbd-panel-control .gbd-parent-tab-panel .gbd-subpanel .components-panel__body-title {
  margin-left: 0;
  margin-right: 0;
}
.gbd-panel-control .gbd-parent-tab-panel .gbd-slider-item-single-panel {
  border-top: 0;
  margin-bottom: 10px;
}
.gbd-panel-control .gbd-parent-tab-panel .gbd-slider-item-single-panel.is-opened {
  background-color: #efefef;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.gbd-panel-control .gbd-parent-tab-panel .gbd-slider-item-single-panel.is-opened .components-panel__body-title {
  background-color: #e0e0e0;
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.gbd-panel-control .gbd-parent-tab-panel .gbd-slider-item-single-panel .components-panel__body-title {
  background-color: #eaeaea;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
.gbd-panel-control .gbd-parent-tab-panel .gbd-slider-item-single-panel .components-panel__body-title button {
  padding: 12px;
}
.gbd-panel-control .gbd-parent-tab-panel .gbd-slider-item-single-panel .components-panel__body-title button:focus {
  box-shadow: unset;
  outline: 0;
}
.gbd-panel-control .gbd-parent-tab-panel .gbd-slider-item-single-panel textarea {
  border-color: #ebebeb;
}
.gbd-panel-control .gbd-parent-tab-panel .gbd-slider-item-single-panel .error {
  color: red;
  display: block;
  margin-bottom: 15px;
  margin-top: -10px;
}
.gbd-panel-control .gbd-accordion-add-button {
  margin-top: 0;
}
.gbd-panel-control .gbd-fontpicker-fontfamily {
  position: relative;
  z-index: 99999;
}

.components-base-control .components-base-control__label {
  margin-right: 60px;
}
.components-base-control.gbd-fontpicker-fontfamily {
  position: relative;
  z-index: 99999;
}
.components-base-control.gbd-fontpicker-fontfamily input {
  box-shadow: unset;
}

.gbd-inspector-btn-group {
  display: flex;
  padding-bottom: 5px;
}
.gbd-inspector-btn-group button {
  flex: 1;
  padding-left: 40px !important;
}

.gbd-image-upload-button,
.gbd-image-wrapper-button,
.gbd-wrapper-upload-button {
  background: #e3e3e3;
  color: #666;
  display: inline-block;
  height: 100px;
  width: 100%;
}

.component-color-indicator {
  border-radius: 50%;
  width: 16px;
}

.gbd-typography-icon {
  fill: #5e5e5e;
}

.gbd-panel-control .components-base-control__label,
.gbd-panel-control .components-input-control__label,
.gbd-panel-control .components-panel__row {
  color: #5f5f5f !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  min-height: auto;
  text-transform: capitalize !important;
}

.gbd-panel-control .gbd-unit-control-btn:focus,
.gbd-panel-control .input-wrapper input:focus {
  box-shadow: 0 0 0 1px #551ef7;
}

.wp-core-ui .gbd-panel-control select.components-select-control__input {
  line-height: 1.4;
}
.wp-core-ui .gbd-panel-control select.components-select-control__input option:hover {
  background: #551ef7 !important;
  color: #fff;
}

.gbd-avatar-icon-btn {
  border: 1px solid #b7b7b7;
  box-shadow: none !important;
  height: 36px !important;
  margin: 0 8px;
  width: 36px !important;
}

.rfipbtn {
  border: 1px solid #b4b4cb;
  border-radius: 6px;
  min-height: 36px !important;
  width: 150px !important;
}

.gbd-gradient-control .gbd-gradient-toggle-label .components-base-control__field {
  align-items: center;
  display: inline-flex;
}
.gbd-gradient-control .components-base-control__label {
  margin-bottom: 8px;
  margin-right: 11px;
}
.gbd-gradient-control .gbd-switch-control {
  width: 150px !important;
}

.gbd-btngrp-align {
  align-items: center;
  display: flex;
}
.gbd-btngrp-align button {
  box-shadow: none !important;
}
.gbd-btngrp-align svg {
  width: 20px;
}

.block-editor-block-inspector .gbd-panel-control .components-base-control {
  margin-bottom: 15px;
}
.block-editor-block-inspector .gbd-panel-control .components-toggle-control.components-base-control {
  margin: 10px 0;
}
.block-editor-block-inspector .gbd-panel-control .responsiveSelectControl .components-base-control {
  flex: 1;
}
.block-editor-block-inspector .gbd-panel-control .responsiveSelectControl.jhapsha .components-base-control select {
  color: rgba(0, 0, 0, 0.467);
}

.gbd-panel-control .is-primary:focus:not(:disabled),
.gbd-panel-control .is-primary:hover:not(:disabled),
.gbd-panel-control .is-secondary:focus:not(:disabled),
.gbd-panel-control .is-secondary:hover:not(:disabled),
.gbd-panel-control .is-tertiary:focus:not(:disabled),
.gbd-panel-control .is-tertiary:hover:not(:disabled) {
  background-color: #551ef7;
  box-shadow: inset 0 0 0 1px #551ef7 !important;
  color: #fff;
}

.gbd-panel-control .linked-btn.is-primary,
.gbd-panel-control .linked-btn:focus:not(:disabled),
.gbd-panel-control .linked-btn:hover:not(:disabled) {
  background: transparent !important;
  box-shadow: none !important;
  color: #551ef7;
}

.gbd-panel-control .components-range-control__root .components-button,
.gbd-panel-control .components-range-control__root .components-input-control .components-input-control__backdrop,
.gbd-panel-control .components-range-control__root .components-input-control input {
  height: 26px !important;
  line-height: 26px;
  max-width: 100%;
  min-height: 26px !important;
  padding: 0 10px !important;
  text-align: center !important;
  width: auto !important;
}

.gbd-color-undo {
  margin-right: -8px;
  color: gray;
  flex: 1;
}

.gbd-panel-control .components-select-control__input:focus,
.gbd-panel-control .components-select-control__input:hover {
  border-color: #ebebeb;
  box-shadow: none;
  color: #000;
}

.gbd-userinfo-container > p {
  margin: 0 !important;
}

.gbd-resButtons {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 0;
}

button.gbd-res-btn {
  background: rgba(85, 30, 247, 0.2);
  border: 1px solid rgba(85, 30, 247, 0.2);
  border-radius: 3px;
  color: #551ef7;
  cursor: pointer;
  flex: 1;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding: 5px 0;
  transition: 0.3s;
}
button.gbd-res-btn.active {
  background: #551ef7;
  border: 1px solid #551ef7;
  color: #fff;
}
button.gbd-res-btn:focus {
  outline: none;
}

button.gbd-res-btn.active,
button.gbd-res-btn:hover {
  box-shadow: 0 0 5px 0 rgba(85, 30, 247, 0.6);
}

.gbd-typography-component-panel {
  min-width: 220px;
  padding: 1rem;
}
.gbd-typography-component-panel .wrap_res.forFontSize .resIcons {
  left: 70px;
}
.gbd-typography-component-panel .wrap_res.forLetterSpacing .resIcons {
  left: 100px;
}
.gbd-typography-component-panel .wrap_res.forLineHeight .resIcons {
  left: 83px;
}

.typoResButton {
  background-color: #e8e8e8;
  border-radius: 3px;
  color: #5f5f5f;
  cursor: pointer;
  font-size: 11px;
  height: 18px;
  line-height: 18px;
  margin: 0 8px 5px 0;
  position: relative;
  text-align: center;
  width: 18px;
  z-index: 999;
}
.typoResButton.active {
  color: #551ef7;
}

.wrap_res {
  position: relative;
}

.resIcons {
  left: 80px;
  position: absolute;
}

.gbd-typography-base div {
  display: flex;
  justify-content: space-between;
}

.components-button.has-icon .dashicon.dashicons-format-image {
  margin: 0;
}

.gbd-panel-control .wrap_res.for-head-img-height .resIcons,
.gbd-panel-control .wrap_res.for-head-img-width .resIcons,
.gbd-panel-control .wrap_res.for-number-size .resIcons {
  left: 85px;
}

.gbd-background-control-inspector-panel-img-btn {
  background-color: #e3e3e3;
  height: 100px;
  width: 100%;
}

.resLabel {
  padding-right: 5px;
}

.resBtns {
  padding-bottom: 5px;
}

.gbd-color-base > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.gbd-color-base .components-base-control__label {
  flex: 10;
  margin-right: 0 !important;
}
.gbd-color-base .components-dropdown {
  flex: 1;
}

.gbd-color-ball {
  background-image: linear-gradient(45deg, #ddd 25%, transparent 0), linear-gradient(-45deg, #ddd 25%, transparent 0), linear-gradient(45deg, transparent 75%, #ddd 0), linear-gradient(-45deg, transparent 75%, #ddd 0);
  background-position: 0 0, 0 5px, 5px -5px, -5px 0;
  background-size: 10px 10px;
  border-radius: 50%;
}

.gbd-color-undo :focus,
.gbd-color-undo :hover {
  box-shadow: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.linked-btn {
  border-radius: 5px;
  height: 30px;
  margin-left: 8px;
  padding-left: 12px;
  width: 40px;
}

.dimention-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.dimention-label {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 10px;
}

.dimentions-input-label {
  font-size: 0.75em;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-container.left-right-disabled {
  justify-content: flex-start;
}
.input-container .input-wrapper:first-child input {
  border-radius: 4px 0 0 4px;
  border-width: 1px;
}
.input-container .input-wrapper input {
  border: 1px solid #8d96a0;
  border-left-width: 0;
  border-radius: 0;
  height: 24px;
  margin: 0;
  min-height: 24px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.input-container .input-wrapper:nth-child(5) input {
  border-radius: 0 4px 4px 0;
}
.input-container .input-wrapper button {
  border: 1px solid #8d96a0;
  border-left: none;
  border-radius: 0 4px 4px 0;
  margin-left: 0;
}

.image-avatar {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 8px;
  padding: 2px;
  width: 100%;
}

.image-avatar-delete {
  background-color: blue;
}
.image-avatar-delete:hover {
  background-color: red;
}

.profile-wrapper {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  line-height: 2.5em;
  margin-bottom: 10px;
  margin-top: 10px;
}
.profile-wrapper .drag-handle {
  align-items: center;
  background: #a9a9a9;
  border-right: 1px solid;
  color: #fff;
  cursor: move;
  display: flex !important;
  flex: 2 1 0% !important;
  justify-content: center;
}

.profile-icon-container {
  cursor: pointer;
  flex: 10;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
}

.selected-profile-icon {
  margin-left: 5px;
}

.link-form-wrapper {
  margin-top: 10px;
}

.social-link-input {
  margin-bottom: 10px;
}

.profile-icon-wrapper {
  align-items: center;
  display: flex;
  height: 1em;
  justify-content: center;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  width: 1em;
}

.drag-helper {
  list-style: none;
  z-index: 100;
}

.gbd-social-delete-icon:hover {
  cursor: pointer;
}

.gbd-switch-control {
  border: 1px solid #ededed;
  border-radius: 30px;
  display: flex;
  font-family: sans-serif;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 2px;
  position: relative;
  text-align: center;
}
.gbd-switch-control input {
  padding: 10px;
  position: absolute;
  visibility: hidden;
}
.gbd-switch-control .individual:checked ~ .slideBg {
  transform: translateX(100%);
}
.gbd-switch-control .business:checked ~ .slideBg {
  transform: translateX(0);
}
.gbd-switch-control label {
  display: block;
  padding: 4px;
  width: 50%;
  z-index: 1;
}

.gbd-switch-control .business:checked ~ span,
.gbd-switch-control .individual:checked ~ span,
.gbd-switch-control input:checked + label {
  color: #fff;
}

.slideBg {
  background-color: #551ef7;
  border-radius: 30px;
  color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease;
  width: 50%;
}

.gbd-typography-wrapper {
  padding: 15px;
}

.components-gbd-typography-dropdown {
  padding: 0 !important;
}

.gbd-unit-control-btn-group {
  display: block;
  margin: 0 0 -20px;
  text-align: right;
}

.gbd-unit-control-btn {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #000;
  outline: none !important;
  text-shadow: none !important;
}

.gbd-unit-active {
  color: #551ef7 !important;
  font-weight: 700;
}

.gbd-component-wrapper {
  display: flex;
}
.gbd-component-wrapper .components-base-control.components-range-control {
  flex-grow: 1;
}
.gbd-component-wrapper .gbd-range-reset-button {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 26px;
  margin-left: 2px;
  outline: none;
  padding: 0;
  width: 20px;
}
.gbd-component-wrapper .gbd-range-reset-button .dashicon {
  align-items: center;
  color: #62626f;
  display: flex;
  font-size: 14px;
  justify-content: center;
  transform: scaleX(-1) rotate(90deg);
  width: 20px;
}

.responsive-btn-label {
  margin-right: 8px;
}

summary::-webkit-details-marker {
  display: none;
}

.drag-helper .profile-wrapper,
.gbd-pricebox-sortable-item,
.gbd-typed-sortable-item {
  border: 1px solid #b4b4cb;
}

.gbd-accordion-sortable-item .drag-handle,
.gbd-pricebox-sortable-item .drag-handle,
.gbd-typed-sortable-item .drag-handle,
.profile-wrapper .drag-handle {
  background: transparent !important;
  border-left: 1px solid #b4b4cb;
  flex: 2 1 0% !important;
}

.gbd-panel-control .components-base-control .components-text-control__input,
.gbd-panel-control .components-base-control .drag-helper .gbd-accordion-sortable-item,
.gbd-panel-control .components-base-control .drag-helper .gbd-accordion-sortable-item .drag-handle,
.gbd-panel-control .components-base-control .drag-helper .gbd-accordion-sortable-item .gbd-social-delete-icon {
  border-color: #ebebeb !important;
  padding: 5px 0;
}

.gbd-accordion-sortable-item {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  line-height: 2.5em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.gbd-accordion-sortable-title {
  flex: 10;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gbd-accordion-sortable-trash {
  border-left: 1px solid gray;
  flex: 1;
  font-size: 16px;
  line-height: 2.5em;
  padding: 8px;
  text-align: center;
}
.gbd-accordion-sortable-trash:hover {
  background: #f44336;
  color: #fff;
  cursor: pointer;
}

.gbd-accordion-hidden {
  opacity: 0 !important;
  overflow: hidden !important;
}

.gbd-accordion-expanded {
  opacity: 1;
  overflow: visible;
}

.gbd-accordion-upload-button {
  background: #e3e3e3;
  color: #666;
  display: inline-block;
  height: 100px;
  width: 100%;
}

.gbd-accordion-add-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.gbd-accordion-add-button-label {
  margin-left: 10px;
}

.gbd-accordion-sortable-base {
  margin-bottom: 0 !important;
}

.gbd-sortable-accordion-list,
.gbd-sortable-accordion-list li:last-child {
  margin-bottom: 0;
}

.gbd-control-item-wrapper {
  margin-bottom: 10px;
}

.gbd-margin-bottom-10 {
  margin-bottom: 10px;
}

.gbd-margin-bottom-20 {
  margin-bottom: 20px;
}

.gbd-margin-bottom-30 {
  margin-bottom: 30px;
}

.gbd-row-wrapper .gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap.wp-block,
.gbd-row-wrapper .gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap.wp-block .wp-block {
  max-width: none;
}

body.gbd-mimmik-added .gbd-guten-block-main-parent-wrapper.gbd-row-editor-wrap .gbd-row-root-container {
  overflow-x: hidden;
}
body.gbd-mimmik-added .edit-post-visual-editor .gbd-column-wrapper > .gbd-column-inner .components-button {
  padding-bottom: 13px;
  padding-top: 13px;
}
body.gbd-mimmik-added .edit-post-visual-editor .block-editor-block-toolbar {
  position: relative;
  z-index: 999;
}
body.gbd-mimmik-added .edit-post-visual-editor .components-popover.block-editor-block-list__block-popover {
  z-index: 999;
}
body.gbd-mimmik-added .edit-post-visual-editor .wp-block.editor-post-title.editor-post-title__block {
  padding-bottom: 40px;
}
body:not(.gbd-responsive-preview-option-Desktop) .eb_animation {
  opacity: 1 !important;
  visibility: visible !important;
}

body.gbd-mimmik-added .gbd-guten-block-main-parent-wrapper.gbd-row-editor-wrap .block-editor-block-list__block.wp-block,
body.gbd-mimmik-added .gbd-guten-block-main-parent-wrapper.gbd-row-editor-wrap .wp-block,
body.gbd-mimmik-added .marginPaddingNaai.wp-block {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap {
  position: relative !important;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .gbd-column-inner .block-list-appender {
  margin: 0 !important;
  padding: 0 !important;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .width-dragger-change {
  bottom: 0;
  cursor: col-resize;
  display: none;
  position: absolute;
  right: -5px;
  top: 0;
  width: 12px;
  z-index: 8;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .width-dragger-change > .dragger-inner {
  height: 100%;
  margin: 0 5px;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .width-dragger-change > .dragger-inner .circle {
  border: 1px solid #000;
  border-radius: 50%;
  height: 10px;
  left: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .width-dragger-change > .dragger-inner > .dashicons {
  align-items: center;
  background: #fff;
  border: 1px solid #a3a5c0;
  border-radius: 50%;
  color: #a3a5c0;
  display: flex;
  height: 30px;
  justify-content: center;
  left: -8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .width-dragger-change:hover > .dragger-inner {
  background-color: #000;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .cols-width-tooltip {
  align-items: center;
  background: no-repeat;
  color: #fff;
  display: flex;
  justify-content: space-between;
  left: -77px;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 170px;
  z-index: 9999;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .cols-width-tooltip i.ovl_shapes {
  background: #fff;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .cols-width-tooltip i.ovl_circle1 {
  left: 55px;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .cols-width-tooltip i.ovl_circle2 {
  right: 55px;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .cols-width-tooltip > span {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .cols-width-tooltip > span.dashicons {
  background: #fff;
  border: 1px solid #a3a5c0;
  border-radius: 50%;
  color: #a3a5c0;
  font-size: 26px;
  width: 30px;
  z-index: 333;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .cols-width-tooltip > span:not(.dashicons) {
  background: #a3a5c0;
  color: #fff;
  width: 65px;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .cols-width-tooltip > :not(.dashicons):first-child {
  -webkit-clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
  clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 50%, 0 0);
  padding-right: 10px;
}
.gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .cols-width-tooltip > :not(.dashicons):nth-child(3) {
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 10% 50%, 0 0);
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 10% 50%, 0 0);
  padding-left: 10px;
}

.wp-embed-responsive .gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .width-dragger-change,
body.gbd-responsive-preview-option-Desktop .gbd-guten-block-main-parent-wrapper.gbd-column-editor-wrap .width-dragger-change {
  display: block;
}

.gbd-image-comparison-wrapper .gbd-image-comparison-placeholder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gbd-image-comparison-wrapper .gbd-image-comparison-upload {
  background: #e3e3e3;
  display: inline;
  height: 200px;
  margin-right: 10px;
  width: 200px;
}
.gbd-image-comparison-wrapper .gbd-image-comparison-image {
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
}

.drag-handle {
  align-items: center;
  background: transparent;
  border-left: 1px solid #b4b4cb;
  border-right: 1px solid #b4b4cb;
  color: #fff;
  cursor: move;
  display: flex !important;
  flex: 1;
  flex: 2 1 0% !important;
  justify-content: center;
}

.gbd-sortable-item {
  border: 1px solid #b4b4cb;
  display: flex;
  justify-content: space-between;
  line-height: 2.5em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.gbd-sortable-title {
  flex: 12;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
.gbd-sortable-title:hover {
  cursor: pointer;
}

.gbd-sortable-trash {
  border-left: 1px solid gray;
  flex: 1;
  font-size: 16px;
  line-height: 2.5em;
  padding: 8px;
  text-align: center;
}
.gbd-sortable-trash:hover {
  background: #f44336;
  color: #fff;
  cursor: pointer;
}

.gbd-sortable-accordion-list .drag-helper {
  border: 1px solid #ebebeb;
  margin-top: 0;
  padding: 0 10px;
}
.gbd-sortable-accordion-list .gbd-accordion-sortable-item {
  border: none;
  padding: 0 !important;
}
.gbd-sortable-accordion-list .gbd-accordion-sortable-title {
  cursor: pointer;
}

.gbd-guten-block-main-parent-wrapper button[type=submit],
.gbd-guten-block-main-parent-wrapper input[type=submit] {
  pointer-events: none;
}

.gbd-html-tag-buttongroup .components-button {
  margin-left: 0 !important;
  padding: 6px;
}

.gbd-support-panel {
  border-top: 1px solid #ddd;
  padding: 30px 5px 20px;
  text-align: center;
}
.gbd-support-panel .gbd-block-support {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.gbd-support-panel .gbd-block-support img {
  width: 25px;
}
.gbd-support-panel .gbd-block-support a {
  color: #211c70;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.gbd-support-panel .gbd-block-support a:hover {
  text-decoration: none;
}
.gbd-support-panel .gbd-block-links {
  align-items: center;
  display: flex;
  gap: 0;
  justify-content: center;
  margin-top: 12px;
}
.gbd-support-panel a {
  color: #2673ff;
  font-size: 12px;
  font-weight: 500;
}
.gbd-support-panel a:hover {
  color: #481ec2;
  text-decoration: underline;
}
.gbd-support-panel a img {
  margin-right: 5px;
  width: 14px;
}

/*# sourceMappingURL=index.css.map*/